body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: aliceblue;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;

    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Align items in the center */
    justify-content: start; /* Align content to the start */
}
.card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 450px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: .5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    background: #7c7c7c2b;
    color: white;
}

button:hover {
    background: #7c7c7c6b;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-size: 105%;
    font-family: inherit;
    width: calc(100% - 100px);
}

h1.temp {
    margin: 0em;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin: 8px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0; 
}

.error {
    color: red;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.forecast-container {
    width: 100%;
    max-width: 700px;
    background: #000000d0;
    color: white;
    padding: 0.75em 2em;
    border-radius: 30px;
}

.forecast-day {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    margin-bottom: 20px; /* Space between each day */
}

.forecast-item {
    text-align: center;
}

.day-label {
    color: white;
    margin-bottom: 10px; 
}

.forecast-header {
    background: #000000d0;
    color: white;
    text-align: center;
    font-size: 1.5em; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}

